<style>
<!-- customIcon = L.icon( -->
<!--   iconUrl: 'assets/womanonrails.jpg' -->
<!--   iconSize:     [50, 50] -->
<!--   iconAnchor:   [25, 25] -->
<!--   className: 'round' -->
<!-- ) -->

<!-- customMarker = L.marker( -->
<!--   [50.29391802001304, 18.665471076965332], -->
<!--   icon: customIcon -->
<!-- ).addTo(map) -->

</style>

<h1> New Observation</h1>

<%= render "form", observation: @observation %>
