<h1>Help</h1>

<center>
<a href="https://www.symmetrycat.org">SymmetryCat</a> allows you to
upload pictures and classify them according to the amount of symmetry
they have.<br> Think of it
as <a href="https://www.inaturalist.org/">iNaturalist</a> but for
symmetry instead of for species.
</center>

<!-- Disclosure widget - why isn't triangle appearing -->

<ul>
  <li> <%= link_to "Symmetry primer", "/help-symmetry" %>
  <li> <%= link_to "SymmetryCat primer", "/help-usage" %>
</ul>

